@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.header-font {
  font-family: 'Roboto', sans-serif;
}

.normal-font {
  font-family: 'Open Sans', sans-serif;
}

main {
  @extend .normal-font;
  font-size: 2rem;
  header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    button {
      text-transform: uppercase;
    }
  }
  .sticky-table-table {
    width: 100vw;
  }
  .sticky-table-cell {
    text-align: center;
    background-color: #35654d;
    color: whitesmoke;
    border: 3px solid whitesmoke;
  }
  .sticky-table-row:first-of-type .sticky-table-cell {
    @extend .header-font;
    font-size: 1.25rem;
    height: 2rem;
  }
  .sticky-table-cell {
    min-width: 20vw;
  }
  .sticky-table-cell:first-of-type {
    background-color: rgb(252, 255, 97);
    color: rgb(8, 8, 8);
    padding: 1rem;
    min-width: 33vw;
    height: 5rem;
  }
  .player-header {
    text-transform: uppercase;
  }
}

@media (max-width: 700px) {
  * {
    border: 1px solid pink;
  }
  main {
    header {
      flex-direction: column-reverse;
    }
  }
}
